main {
    margin: auto;
}

.blog-header {
    margin: auto;
    margin-top: 50px;
    nav {
        width: 40%;
        justify-content: flex-start;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// blogpost<

.blog-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-post-image {
    img {
        width: auto;
        height: 200px;
    }
}

.blog-post-info {
    display: grid;
    gap: 10px;
}

.blog-post-extra {
    color: #767676;
    font-size: 12px;
}

.blog-post-title {
    h1 {
        font-size: 16px;
    }
}

.blog-post-text {
    font-size: 13px;
}

.blog-post-items {
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.blog-post-continue {
    a {
        font-weight: 600;
        color: black;
        text-decoration: none;
        padding-bottom: 5px;
    }
}

.progress-bar{
    margin: auto;
    height: 10px;
    max-width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.progress-bar-fill{
    width: 50%;
    height: 100%;
    background-color: black;
}

.blog-more {
    
    margin-top: 14px;
}

@media screen and (max-width: 700px) {
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
// blogpost>
