html {
    font-family: Calibri, Arial, sans-serif;
    font-size: 18px;
    background-color: #f0e6be;
}

#container{
    width: max(1200px, 75vw);
    margin: auto;
}

section {
    padding: min(3vw, 2rem);
    counter-reset: number-picture 0;
}

section:first-child figcaption::before {
    counter-increment: number-picture;
    content: counter(number-picture) '. ';
}

#gallery {
    display: flex;
    flex-wrap: wrap;
}
#gallery img {
    border-radius: 10px;
}
#gallery figcaption {
    text-align: center;
}

#graph a {
    white-space: pre-wrap;
}

#graph a::after {
    content: '\A ('attr(href) ')';
}
