body {
    font-size: 30px;
}

.fa-dragon {
    font-size: 21px;
    color: red;
    text-shadow: 3px 3px 2px gray;
}

.fa-gamepad {
    font-size: 22px;
    color: black;
}

.fa-android {
    font-size: 23px;
    color: green;
}

.fa-steam-square {
    font-size: 24px;
    color: gray;
}

.fa-steam {
    font-size: 25px;
    color: lightgrey;
}

a {
    text-decoration: none;
    color: aquamarine;
}

.icons {
    font-size: 20px;
}

.icon-color {
    color: white;
}

button {
    all: unset;
    cursor: pointer;
    text-align: center;
}

.fa-dog {
    color: brown;
}

.fa-file {
    color: lightgoldenrodyellow;
}

.fa-tornado {
    color: aqua;
}

.fa-circle-nodes {
    color: red;
}

.fa-dungeon {
    color: dimgray;
}

.fa-expand {
    color: cornflowerblue;
}
