body {
    background-color: antiquewhite;
}

.container {
    min-width: 900px;
    height: 900px;
    display: block;
}

.buttons {
    display: flex;
    gap: 20px;

    .button-one {
        display: block;
        height: 26px;
        width: 25px;
        background-image: url(../images/buttons.png);
        background-position: -51px 0px;
    }
    .button-two {
        display: block;
        height: 26px;
        width: 25px;
        background-image: url(../images/buttons.png);
        background-position: -52px -26px;
    }
    .button-three {
        display: block;
        height: 26px;
        width: 25px;
        background-image: url(../images/buttons.png);
        background-position: 0px -26px;
    }
}

.flags {
    display: flex;
    gap: 20px;
    .netherlands {
        display: block;
        height: 11px;
        width: 16px;
        background-image: url(../images/flags.png);
        background-position: -80px -110px;
    }
    .uk {
        display: block;
        height: 11px;
        width: 16px;
        background-image: url(../images/flags.png);
        background-position: -176px -44px;
    }
    .spain {
        display: block;
        height: 11px;
        width: 16px;
        background-image: url(../images/flags.png);
        background-position: -16px -44px;
    }
    .france {
        display: block;
        height: 11px;
        width: 16px;
        background-image: url(../images/flags.png);
        background-position: -144px -44px;
    }
    .germany {
        display: block;
        height: 11px;
        width: 16px;
        background-image: url(../images/flags.png);
        background-position: -80px -33px;
    }
    .italy {
        display: block;
        height: 11px;
        width: 16px;
        background-image: url(../images/flags.png);
        background-position: -208px -66px;
    }
}
