.green-rectangle {
    stroke: darkgreen;
    stroke-width: 5;
    fill: lightgreen;
}

.red-rectangle {
    stroke: darkred;
    stroke-width: 5;
    fill: red;
}

.cyan-rectangle {
    stroke: darkcyan;
    stroke-width: 5;
    fill: cyan;
}

.circle-white {
    stroke: black;
    stroke-width: 14;
    fill: white;
}

.circle-black {
    stroke: black;
    stroke-width: 0;
    fill: black;
}

.ellipsis-red {
    stroke: darkred;
    stroke-width: 14;
    fill: red;
}

.line-black {
    stroke: black;
    stroke-width: 30;
}
.line-darkred {
    stroke: darkred;
    stroke-width: 8;
}

.ellipsis-white {
    stroke: black;
    stroke-width: 2;
    fill: white;
}

.polygon-white {
    stroke: black;
    stroke-width: 3;
    fill: white;
}

.line-black-small {
    stroke: black;
    stroke-width: 5;
}

.polyline-black {
    fill: none;
    stroke: black;
    stroke-width: 3;
}
