.container {
    width: 200px;
    height: 200px;
    background-color: orange;
    animation: figures 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes figures {
    0% {
        background-color: orange;
    }

    25% {
        transform: translateX(400px);
        border-radius: 50%;
        background-color: purple;
    }

    50% {
        background-color: darkcyan;
        transform: translateX(400px) translateY(400px);
        border-radius: 0;
    }

    75% {
        background-color: gray;
        transform: translateX(0) translateY(400px);
        border-radius: 50%;
    }

    100% {
        background-color: orange;
        transform: translateX(0) translateY(0);
    }
}
