* {
    margin: 0;
    padding: 0;
}
body {
    background-color: DeepSkyBlue;
}

.container {
    height: 100vh;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-areas:
        'header header'
        'nav nav'
        'menu section'
        'footer footer';
}

header {
    grid-area: header;
    //height: 100px;
    background-color: DodgerBlue;
}

button {
    all: unset;
    cursor: pointer;
}

nav {
    //height: 50px;
    grid-area: nav;
    background-color: Aquamarine;
    display: flex;
    flex-direction: row;
    gap: 1px;
    button {
        flex: 1;
        text-align: center;
        background-color: blue;
        color: white;
    }
}

aside {
    //width: 300px;
    grid-area: menu;
    background-color: LightSteelBlue;
}

section {
    grid-area: section;
    background-color: AliceBlue;
}

footer {
    font-size: 25px;

    //height: 50px;
    grid-area: footer;
    background-color: Aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
