<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="./styles/style.css"/>
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>

	<body>
		<nav>
			{% block nav %}
				{% if loggedIn %}
					{% include "navlogout.html.twig" with {'csrf_token': csrf_token} %}
				{% else %}
					{% include "navlogin.html.twig" %}
				{% endif %}
			{% endblock %}
		</nav>
		<div id="container"> {% block content %}{% endblock %}
			</div>
			<footer>
				{% block footer %}
					{% if timeSinceLastVisit is not null %}
						<p>Last visit was
							{{ timeSinceLastVisit }}
							minutes ago.</p>
					{% else %}
						<p>Welcome! This is your first visit.</p>
					{% endif %}
				{% endblock %}
			</footer>
		</body>
	</html>
